*.exe
*.obj
*.o
*.res
*.aps
docs/part-03/code/tic-tac-toe/vs-resource-editing/.vs/*
docs/part-03/code/tic-tac-toe/vs-resource-editing/x64/*
docs/part-04/code/tic-tac-toe/v6/.build/*
docs/part-05/code/on-screen-graphics/v3/.build/generated_image.bmp
