#pragma code_page( 65001 )  // UTF-8

#include <windows.h>
#include "resource-ids.h"   // IDI_MAIN

/////////////////////////////////////////////////////////////////////////////
// Neutral resources
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

    // The icon with lowest ID value should be placed first to ensure that the
    // application icon (executable's file icon) remains consistent on all systems.
IDI_MAIN    ICON    "resources/main.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID      RT_MANIFEST "resources/app-manifest.xml"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0
PRODUCTVERSION  0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments",         "Created for the Windows API stuff tutorial’s README file."
            VALUE "CompanyName",      ""
            VALUE "FileDescription",  "A minimal app with icon and version info."
            VALUE "FileVersion",      ""
            VALUE "InternalName",     ""
            VALUE "LegalCopyright",   "Copyright © 2020 Alf P. Steinbach."
            VALUE "OriginalFilename", "hello.exe"
            VALUE "ProductName",      "MinimalApp"
            VALUE "ProductVersion",   "1.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 1200
    END
END
